@import "tailwindcss";

@theme {
  --color-background: #060e20;
  --color-surface: #060e20;
  --color-surface-container-lowest: #000000;
  --color-surface-container-low: #06122d;
  --color-surface-container: #05183c;
  --color-surface-container-high: #031d4b;
  --color-surface-container-highest: #00225a;
  --color-surface-bright: #002867;
  --color-surface-dim: #060e20;
  --color-outline: #5b74b1;
  --color-outline-variant: #2b4680;
  --color-error: #ee7d77;
  --color-primary: #7bd0ff;
  --color-primary-container: #004c69;
  --color-primary-dim: #47c4ff;
  --color-secondary: #939eb5;
  --color-secondary-container: #313c4f;
  --color-tertiary: #9bffce;
  --color-tertiary-container: #69f6b8;
  --color-on-surface: #dee5ff;
  --color-on-surface-variant: #91aaeb;
  --color-on-primary: #004560;
  --color-on-secondary: #152032;
  --color-on-primary-container: #97d8ff;

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-inter: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
